{% load render_bundle from webpack_loader %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test View</title>
    <!-- Webpack rendered CSS -->
    {% render_bundle 'test_view' 'css' %}
</head>
<body>
    <div id="test-view"></div>
    <!-- Webpack rendered JS -->
    {% render_bundle 'test_view' 'js' %}
</body>
</html>